body {
  max-width: 1230px;
  margin:0 auto;
  background: #fff;
  color: #666666;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a{
  color: black;
  text-decoration: none;
}

.header{
  min-height: 154px;
}

.nav-item a{
  color:#919191;
  text-align: center;
}

.nav-ico .fa{
  font-size: 40px;
  border:1px solid black;
  border-radius: 100%;
  padding: 7px;
  color:black;
  
}

.navbar{
  min-height: 46px;
  background-color: #dceef7;
  font-size: 16px;  
}

.sale a{
  color: #0099d2;
  text-decoration: none;
}

.sale ul li:nth-child(1) a{
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
}

.sale ul li:nth-child(2) a{
  color: #2f2f2f;
  font-size: 1rem;
  text-decoration: none;
}

.sale ul li:nth-child(3) a{
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;
}

.sale ul li a:hover{
  background-color: #0099d2;
  border: 1px solid #0099d2;
  border-radius: 100%;
  padding: 0.2rem;
 transform: translateX(-20px);

 }

.carousel-caption{
  color:black;
  top:130px;
}

.carousel-caption h5{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 28px;
}

.carousel-caption p{
  color: #a4a5a6;
  
}

.cardnews{
  
  max-height:310px;
  width: 300px;
}

.title-block{
  font-size: 3rem;
  color: black;
  font-weight: bold;
}
.card-title{
  font-size: 1.20rem;
  color: black;
}

.parallax-window {
    min-height: 341px;
    background: transparent;
}


.parallax-window .card-title{
  font-size: 2rem;
  color: black;
}

.fa-handshake-o,
.fa-gift{
  color: #0099d2;
  font-size: 3rem;
}
.white{
  background-color: #fff;
  color: black;
}

.list-unstyled li a,
.list-unstyled li i,
.footer-copyright{
  color: #919191;
}

.black li a{
  color: #000000;
}
.footerLogo{
  max-height:43px; 
}

.footer-copyright{
   background-color: #f0f0f0;
}